<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CursoWindowsFormBiblioteca.Properties.Settings.ByteBankConnectionString"
            connectionString="Data Source=DESKTOP-GCKBQO1;Initial Catalog=ByteBank;Persist Security Info=True;User ID=sa;Password=nrts;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>